<a href="https://colab.research.google.com/github/amitmishra-cs/PYTHON-PROGRAMING/blob/main/02GATEPYTHON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n = int(input("Enter the number: "))
for i in range(1, n + 1):
  if n % i == 0:
    print(i)

Enter the number: 6
1
2
3
6

In [ ]:
n = int(input("Enter the number: "))
for i in range(1, n + 1):
  if n % i == 0:
    print(i)

Enter the number: 30
1
2
3
5
6
10
15
30

In [ ]:
n = int(input("Enter the number: "))
l=[]
for i in range(1, n + 1):
  if n % i == 0:
    l.append(i)
print(l)

Enter the number: 9
[1, 3, 9]

In [ ]:
n =int(input("Enter the number "))
sum =0
for i in range(1,n):
    if n%i==0:
        sum=sum+i
if sum==n:
    print("perfect number")
else:
    print("not perfect number")

Enter the number 20
not perfect number

In [ ]:
# to print sum of number
n =int(input("enter the number "))
a=n
sum =0
while n!=0:
  last = n%10
  sum =sum + last
  n =n//10
print("sum of digit" ,a,"is", sum)

enter the number 23456
sum of digit 23456 is 20

In [ ]:
n =int(input("enter the number "))
a=n
sum =0
while n!=0:
  last = n%10
  sum =sum + last
  n =n//10
print("sum of digit" ,a,"is", sum)

enter the number 9999999999
sum of digit 9999999999 is 90

In [ ]:

# armstrong number
n =int(input("enter the number"))
a =n
sum=0
while n!=0:
  last =n%10
  cube=last**3
  sum=sum+cube
  n=n//10
if sum ==0:
  print("the number ",a,"is armastrong")
else:
  print("the number",a,"is not armstrong ")

enter the number153
the number 153 is not armstrong

In [ ]:

# armstrong number
n =int(input("enter the number"))
a =n
sum=0
while n!=0:
  last =n%10
  cube=last**3
  sum=sum+cube
  n=n//10
if sum ==a:
  print("the number ",a,"is armastrong")
else:
  print("the number",a,"is not armstrong ")

enter the number153
the number  153 is armastrong

In [ ]:
# armstrong numbe r
n =int(input("enter the number"))
a,b=n,n
c=0
while n!=0:
  n=n//10
  c=c+1
sum=0
while a!=0:
  last=a%10
  sum=sum + last**c
  a=a//10
if sum==b:
  print("Bahubali")
else:
  print("not Bahubali")

enter the number153
Bahubali

In [ ]:
# armstrong numbe r
n =int(input("enter the number"))
a,b=n,n
c=0
while n!=0:
  n=n//10
  c=c+1
sum=0
while a!=0:
  last=a%10
  sum=sum + last**c
  a=a//10
if sum==b:
  print("Bahubali")
else:
  print("not Bahubali")

enter the number13
not Bahubali

In [ ]:
if 10<20:
  pass
print("Mishra")

Mishra

In [ ]:
a =int(input("enter a number"))
if a%2==0:
  print("mishra")

enter a number4
mishras

In [ ]:
year =int(input("enter a number"))
if year==1:
  print("Enjoy karo agle sall sochna ")
elif year==2:
  print("sochna shru karo")
elif year==3:
  print("start kar do")
elif year== 4:
  print("ab kiya kare")
else:
  print("ram bhrose")

enter a number8
rambhorse

In [ ]:
a=int(input("enter a number"))
b=int(input("enter a number"))
c=int(input("enter a number"))
if a>b and a>c:
  print("The largest among",a,b,c,"is",a)
else:
  if b>c:
    print("The largest among",a,b,c,"is",b)
  else:
      print("The largest among",c)

enter a number10
enter a number20
enter a number30
The largest among

In [ ]:
a=int(input("enter a number"))
b=int(input("enter a number"))
c=int(input("enter a number"))
if a>b and a>c:
  print("The largest among",a,b,c,"is",a)
else:
  if b>c:
    print("The largest among",a,b,c,"is",b)
  else:
      print("The largest among",c)

enter a number30
enter a number20
enter a number10
The largest among 30 20 10 is 30

In [ ]:
i=0
for x in "pankaj":
  print("the element index",i,"is",x)
  i=i+1

the element index 0 is p
the element index 1 is a
the element index 2 is n
the element index 3 is k
the element index 4 is a
the element index 5 is j

In [ ]:
for i in range(5):
  print("pankaj")
  print(i)

pankaj
0
pankaj
1
pankaj
2
pankaj
3
pankaj
4

In [ ]:
for i in range(1,101):
  if(i%2==0):
     print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [ ]:
n=int(input("Enter the Number"))
Prod =1
for i in range(1,n+1):
  Prod=Prod*i
print(Prod)

Enter the Number5
120

**Strings**

In [3]:
s="mishra"
t='mishra'
a='''mishra ji kase ko
    aap kaha se ho bro how are'''
# multiline string
print(a)
print(s)
print(t)

mishra ji kase ko
    aap kaha se ho bro how are
mishra
mishra

In [2]:
s ="mishra ji "
print(s[1:])

ishra ji

In [3]:
print(s[ :4])

mish

In [4]:
print(s[:])

mishra ji

In [7]:
print(s[3:1])

In [ ]:
#slice opreater
''' step can be positive or negative
     1) if it is positive ====> it should be in forword direction
     Or left to right within string
     and s[begin:end] will slice from begin till end -1 index.
     2) if it is negative ====> it should be in reverse direction
     Or left to right within string
     and s[begin:end] will slice from begin till end +1 index.



'''

In [9]:
s="mishra"
s[4:2:-1]

'rh'

In [10]:
#multiply opreeater ==>reptijijokwejnwsnbsw
'mishra'*3

'mishramishramishra'

In [11]:
"mishra" + "Amit"

'mishraAmit'

In [12]:
for i in s[::-1]:
  print(i)

a
r
h
s
i
m

In [14]:
s =input("enter orginal string")
t=input("enter the sbustring u want to find ")
if t in s:
  print("yes")
else:
  print("no")

enter orginal stringmishra ji kse ho
enter the sbustring u want to find mishra
yes

In [1]:
#palindrom string
s=input("enter one word string")
if s[::-1]==s :
  print("yes")
else:
  print("No")

enter one word stringmom
yes

In [2]:
s="Amit Mishra is Worst  Person"
l=s.split()

In [4]:
type(l)

list

In [5]:
print(l)

['Amit', 'Mishra', 'is', 'Worst', 'Person']

In [9]:
a="20/7/2024"
l=a.split('/')
print(l)

['20', '7', '2024']

In [12]:
l =["Pankaj", "Sharma", "Is", "Worst", "Faculty"]
a=' '.join(l)
print(a)

Pankaj Sharma Is Worst Faculty

In [15]:
l =["Pankaj", "Sharma", "Is", "Worst", "Faculty"]
a= '@'.join(l)
print(a)

Pankaj@Sharma@Is@Worst@Faculty

In [16]:
s="pankaj sir teaching python"
for word in s.split():
  if len(word) % 2 ==0:
    print(word)

pankaj
teaching
python

In [19]:
s="pankaj sir teaching python"
for word in s.split():
  if len(word) % 3 ==0:
    print(word)

pankaj
sir
python

In [21]:
s="pankaj sir is pankaj sir"
print(s.rfind("pankaj"))

14

In [27]:
t=input().split()
x =' '.join(t[::-1])
print(x)

jai ho
ho jai